$theme-dark-color: #4E395D;
$theme-dark-accent-color: #827085;
$theme-medium-color: #8EBE94;
$theme-medium-light-color: #CCFC8E;
$theme-light-color: #DC5B3E;

$theme-background: $theme-dark-color;
$theme-text-color: $theme-light-color;
$theme-link-color: $theme-medium-color;
