$theme-dark-color: #4e395d;
$theme-dark-accent-color: #827085;
$theme-medium-color: #8eBe94;
$theme-medium-light-color: #ccdc8e;
$theme-light-color: #dc5B3e;

$theme-background: $theme-dark-color;
$theme-text-color: $theme-light-color;
$theme-link-color: $theme-medium-color;
