@import 'app/scss/settings';

.RootContainer-headerWrapper {
  background: $theme-dark-accent-color;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.RootContainer-mainNav {
  font-weight: bold;

  ul {
    list-style: none;
    padding: 0;
  }
}

.RootContainer-mainNavLinks {
  display: flex;

  li {
    margin-right: 10px;
  }

  a {
    &:hover {
      border-bottom: 2px solid $theme-medium-color;
      text-decoration: none;
    }
  }

  .active {
    border-bottom: 4px solid $theme-medium-color;
  }
}

.RootContainer-mainContent {
  padding: 8px;
}
