table {
  border-collapse: collapse;
}

.rubric-table td {
  border: 1px solid #B3B3B3;
  padding: 2px 5px;
}

td.ratings-container {
  /*padding-top: 0px;*/
  /*padding-bottom: 0px;*/
  padding: 0;
}

td.rating {
  border: 1px solid #aaa;
  padding: 2px 5px;
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  vertical-align: top;
  padding: 2px 8px;
}
